/*setting up the grid*/

body, html {
  background: rgba(255, 246, 169, 0.5);
  font-family: 'Life Savers', cursive;
  font-weight: bolder;
  margin: auto;
  height: 100%;
}

.homepage-grid {
  min-height: 100%;
  display: grid;
  grid-template-rows: 80px 70px 350px 200px auto;
  grid-template-areas:
    "header1"
    "plate1"
    "main-panel1"
    "testimonials1"
    "fat-banner1";
  align-items: center;

}

.browse-grid {
  min-height: 100%;
  display: grid;
  grid-template-rows: 80px 70px 550px auto;
  grid-template-areas:
    "header1"
    "plate1"
    "main-body"
    "fat-banner1";
}

.product-grid {
  min-height: 100%;
  display: grid;
  grid-template-rows: 80px 70px 70px 480px auto;
  grid-template-areas:
    "header1"
    "plate1"
    "prod-head1"
    "prod-deets1"
    "fat-banner1";
}

.checkout-grid {
  min-height: 100%;
  display: grid;
  grid-template-rows: 80px 70px 550px auto;
  grid-template-areas:
    "header1"
    "yourPlate1"
    "checkout-main"
    "fat-banner1";
}

.header {
  grid-area: header1;
  background-color: #E28920;
  border-bottom: 1px solid #466995;
  text-align: center;
  height: inherit;
  line-height: 80px;
  white-space: nowrap;
  font-size: 50px;
  font-weight: bolder;
  color: #FFF6A9;
  z-index: 10;
  margin: 0px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr;

}

.plate {
  grid-area: plate1;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  grid-template-columns: auto 1fr 10fr auto;
  color: #E28920;
  font-weight: bolder;
}

.yourPlate {
  grid-area: yourPlate1;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bolder;
  color: #E28920;
  border-bottom: 1px solid #E28920;
}

.yourPlate p {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.empty-plate {
  padding: 0px 10px;
}

#faint-text {
  font-weight: normal;
}

.prod-head p {
  margin: 0px;
}

.orange-buttons {
  width: auto;
  background-color: #E28920;
  color: #FFF6A9;
  padding: 6px 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  border-radius: 10px;
  border-width: thin;
  border-color: #E28920;
  cursor: pointer;
  box-shadow: 2px 2px 2px #B9B9B9;
}

#checkout-button {
  font-size: 20px;
}

#go-back-all {
  font-size: 14px;
  padding: 6px 10px;
}

#next-bun {
  font-size: 14px;
}

.main-panel {
  grid-area: main-panel1;
  background-image: url("Homepg Photo.jpg");
  height: 100%;
  width: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  border-top: 1px solid #466995;
  display: grid;
  padding: 0px 33px;
  grid-template-rows: 15% 30% auto 20%;
  grid-template-columns: 25% 75%;
}

.panel-text {
  justify-content: center;
  align-items: center;
  font-weight: normal;
  padding: 3px;
  font-size: 20px;
  line-height: 150%;
  color: #FFF6A9;
  background-color: rgba(226, 137, 32, .6);
  grid-column: 1 / span 1;
  grid-row: 2 / 2;

}

.order-button {
  grid-row-start: 3;
  position: absolute;
  right: 0px;
  padding-top: 270px;
  padding-right: 30px;
}

.testimonials {
  grid-area: testimonials1;
  display: grid;
  justify-content: center;
  padding: 0px 40px;
  grid-template-columns: 1fr 3fr 1fr 1fr 3fr;
  grid-template-rows: 1fr 3fr;
  color: #E28920;
  align-items: center;
}

.test-photo1 {
  grid-row: 1 / span 2;
  grid-column: 1 / 1;
  padding: 0px 20px;
}

.five1 {
  grid-row: 1 / 1;
  grid-column: 2 / 2;
  align-items: baseline;
}

.testimonial1 {
  margin-top: 0;
  grid-row: 2 / 2;
  grid-column: 2 / 2;
}

.test-photo2 {
  grid-row: 1 / span 2;
  grid-column: 4 / 4;
  padding: 0px 20px;
}

.five2 {
  grid-row: 1 / 1;
  grid-column: 5 / 5;
}

.testimonial2 {
  grid-row: 2 / 2;
  grid-column: 5 / 5;
}

.fat-banner {
  grid-area: fat-banner1;
  background-color: #E28920;
  height: 100%;
  width: 100%;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 25% 50% 25%;
  justify-content: center;
}


.fat-banner-label {
  padding-top: 4px;
  padding-left: 30px;
  font-size: 20px;
  font-weight: bolder;
  color: #FFF6A9;
}

.all-icons {
  position: absolute;
  padding-top: 4px;
  padding-right: 30px;
  right: 0px;
}

.fat-banner-icon {
  display: inline;
  right: 0px;
  justify-content: flex-end;
}

.main-body {
  margin: 0px;
  border-top: 1px solid #466995;
  color: #E28920;
  padding: 20px 60px;
  display: grid;
  grid-template-columns: 1/3 1/3 1/3;
  grid-template-rows: 30px auto auto;
  align-items: center;
  justify-content: center;
}



.title {
  grid-column: 1 / span 3;
  grid-row: 1 / 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bolder;
}

.rolls-detail {
  display: grid;
  padding: 0px 10px;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% auto 10%;
}

.roll-photo {
  grid-column: 1 / 1;
  grid-row: 1 / span 3;
  overflow: hidden;
  margin-right: 10px;
}

.roll-name {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 0px;
  width: 100%;
  height: 100%;
}

.roll-description {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
}

.roll-price {
  grid-column: 2 / 2;
  grid-row: 3 / 3;
  padding-top: 0px;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}

.prod-head {
  grid-area: prod-head1;
  text-align: center;
  height: inherit;
  line-height: 80px;
  white-space: nowrap;
  font-size: 30px;
  font-weight: bolder;
  color: #E28920;
  z-index: 10;
  margin: 0px;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  grid-template-columns: 12% 76% 12%;
  grid-template-rows: 1fr;
  border-top: 1px solid #E28920;

}
.prod-deets {
  margin: 0px;
  margin-top: 30px;
  color: #E28920;
  padding: 20px 60px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 30% 10% 10% 10% 30%;
  align-items: center;
  justify-content: center;
}

.prod-image {
  overflow: hidden;
  grid-column: 1 / 1;
  grid-row: 1 / span 5;
  padding: 0px 30px;
  margin-left: 35px;
  margin-right: 60px;
}

.stars-price {
  grid-column: 2 / 2;
  grid-row: 1 / 1;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  margin-left: 20px;
  font-size: 20px;
}

.prod-stars {
  grid-column: 1 / 1;
}

.prod-price {
  grid-column: 2 / 2;
  position: absolute;
  right: 0px;
  padding-right: 130px;
}

.prod-descript {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  margin-left: 20px;
  font-size: 20px;
  font-weight: normal;
  padding-right: 20px;
}

.glaze-dropdown {
  grid-column: 2 / 2;
  grid-row: 3 / 3;
  display: grid;
  grid-template-columns: 1/2 1/2;
  margin-left: 20px;
}

.choose-glaze-head {
  grid-column: 1 / 1;
}

.drop-button {
  width: 170px;
  grid-column: 2 / 2;
  background-color: #FFF6A9;
  color: #E28920;
  padding: 6px;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  border-radius: 10px;
  border-width: thin;
  border-color: #E28920;
  cursor: pointer;
  position: absolute;
  right: 0px;
  margin-right: 90px;
  box-shadow: 2px 2px 2px #B9B9B9;
}

.drop-button:hover, .glaze-drop-button:focus {
  background-color: #FAF091;
}

.dropdown-list {
  grid-column: 2 / 2;
  right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  margin-right: 90px;
  display: none;
  position: absolute;
  background-color: #FFF6A9;
  color: #E28920;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  z-index: 2;
}

.dropdown-list a {
  grid-column: 2 / 2;
  padding: 6px;
  text-decoration: none;
  color: #E28920;
  text-align: center;
  font-family: inherit;
  display: block;

}

.dropdown-list a:hover {
  background-color: #FAF091;
}

.show {display: block;}

.quant-dropdown {
  grid-column: 2 / 2;
  grid-row: 4 / 4;
  display: grid;
  grid-template-columns: 1/2 1/2;
  margin-left: 20px;
}

.choose-quant-head {
  grid-column: 1 / 1;
}

#add-to-cart {
  width: 200px;
  grid-column: 2 / 2;
  grid-row: 5 / 5;
  margin-left: 20px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #FFF6A9;
  color: #E28920;
  padding: 6px;
  text-align: center;
  font-family: inherit;
  font-size: 140%;
  font-weight: bolder;
  border-radius: 10px;
  border-width: thin;
  border-color: #E28920;
  position: absolute;
  right: 0px;
  margin-right: 120px;
}

#add-to-cart:enabled {
  cursor: pointer;
  background-color: #E28920;
  color: #FFF6A9;
  box-shadow: 2px 2px 2px #B9B9B9;

}

.checkout-main {
  margin: 0px;
  border-top: 1px solid #466995;
  color: #E28920;
  padding: 5px 60px;
  display: grid;
  grid-template-columns: auto 3fr 1fr 1fr 1fr auto;
  grid-template-rows: 10px auto 50px 50px 20px;
  align-items: center;
  justify-content: center;
}

#your-items {
  grid-row: 2;
  grid-column: 2 / span 4;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  margin: 0px;
}

#your-items h3 {
  text-align: left;
  padding-left: 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

#your-items p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

#your-items .checkout-headers {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 20px;
}

#cancel-button {
  align-items: center;
  align-content: center;
  justify-content: center;
}

#cancel-button:hover {
    cursor: pointer;
    filter: brightness(1.5);
}

#totalTitle {
  grid-row: 3;
  grid-column: 2;
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 25px;
  font-weight: bold;

}

#totalCount {
  grid-row: 3;
  grid-column: 3;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
  border-top: 2px solid #E28920;
}

#totalQuant {
  grid-row: 3;
  grid-column: 4;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  font-weight: bold;
  border-top: 2px solid #E28920;
}

.theButtons {
  grid-row: 4;
  grid-column: 3 / span 2;
  display: grid;
  grid-template-columns: 1/2 1/2;
  align-items: center;
  justify-content: center;
}
#add-more {
  grid-row: 4;
  grid-column: 3;
  align-items: center;
  font-size: 25px;
  margin: 25px;
}
#checkout-big {
  grid-row: 4;
  grid-column: 4;
  font-size: 25px;
  margin: 25px;
}
